.categories-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

.categories-select {
    margin-left: 5px;
}

.reset-btn {
    margin-left: 5px;
    background-color: red;
    color: white;
    border-color: red;
}